.git
.github
node_modules
venv
__pycache__


# Python
.pytest_cache/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Docker
*.log
*.swp
docker-compose.override.yml

# Environment files
.env
*.env

# Logs
logs/

# Build artifacts
*.o
*.so
*.a
*.out

# C++
*.exe
*.dll
*.obj
*.pdb
*.ilk
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

# Go
/go/bin/
/go/pkg/
go.sum
go.mod
!backend/go-service/go.mod
!backend/go-service/go.sum

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars
